@charset "utf-8";


@font-face {
  	font-family: 'Ubuntu-Bold';
  	src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Ubuntu-Bold.woff') format('woff'), 
  		url('../fonts/Ubuntu-Bold.ttf') format('truetype'), 
		url('../fonts/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),  
	  url('../fonts/Ubuntu-Medium.woff') format('woff'), 
	  url('../fonts/Ubuntu-Medium.ttf')  format('truetype'), 
	  url('../fonts/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu.eot?#iefix') format('embedded-opentype'),  
	  url('../fonts/Ubuntu.woff') format('woff'), 
	  url('../fonts/Ubuntu.ttf')  format('truetype'), 
	  url('../fonts/Ubuntu.svg#Ubuntu') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('../fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),  
	  url('../fonts/Ubuntu-Light.woff') format('woff'), 
	  url('../fonts/Ubuntu-Light.ttf')  format('truetype'), 
	  url('../fonts/Ubuntu-Light.svg#Ubuntu-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?l9oetm');
  src:  url('../fonts/icomoon.eot?l9oetm#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?l9oetm') format('truetype'),
		url('../fonts/icomoon.woff?l9oetm') format('woff'),
		url('../fonts/icomoon.svg?l9oetm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
	position: relative;
}
body {
	min-width: 1240px;
	text-align: center;
	font-family: 'Ubuntu';
	font-size: 16px;
	line-height: 24px;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #ffffff;
}
body {
	background-position: 50% 50%;
	background-image: url('../i/body-bgnd.jpg');
	background-size: 1871px;
	background-repeat: repeat-y;
}
a{
	text-decoration: none;
	color: #74bc40;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
[class^="icon-"]:before, [class*=" icon-"]:before{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-wide-block{
	position: relative;
	max-width: 1560px;
	width: 100%;
	min-width: 1160px;
	margin: 0px auto;
	background-color: #FFF;
}
.b-block{
	position: relative;
	width: 1160px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #434343;
}
input:-moz-placeholder {
	color: #434343;
}
.b-icon{
	position: relative;
}
.b-icon:before{
	background-repeat: no-repeat;
	background-image: url('../i/sprite.png');
	background-size: 289px;
	position: absolute;
	content: "s";
	font-size: 0px;
}
button {
	background-color: transparent;
	border: none;
}
.b-btn {
	font-family: "Ubuntu-Light";
	font-size: 12px;
	text-transform: uppercase;
	color: #74bc40;
	display: inline-block;
	border-radius: 28px;
	height: 56px;
	background-color: #ffffff;
	padding: 0px 20px 0px 30px;
	line-height: 57px;
	cursor: pointer;
}
.arrow {
	display: inline-block;
	height: 20px;
	position: relative;
	top: -1px;
	width: 20px;
	border-radius: 50%;
	background-color: #74bc40;
	line-height: 20px;
	/* padding-bottom: 4px; */
	margin-left: 14px;
	text-align: center !important;
}
.arrow:hover {
	background-color: #74bc40;
}			
.arrow:after {
	font-family: "icomoon";
	font-size: 10px;
	color: #ffffff;
	content: "\e907";
	margin-left: 2px;
}
/*.b-btn:hover {
	color: #ffffff;
	background-color: #74bc40 !important;
	border: 1px solid #74bc40;
}*/
.slick-list {
	position: relative;
}
.b-btn-next {
	display: inline-block;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	border: none;
	background-color: #ffffff;
	box-shadow: 0px 3px 7px rgba(0,0,0,0.14);
	font-family: "icomoon";
	font-size: 16px;
	color: #b9b9b9;
	line-height: 46px;
	cursor: pointer;
}
.b-btn-next:after{
	content: "\e902";
	margin-left: 2px;
}
.b-btn-next:hover {
	background-color: #74bc40;
	color: #ffffff;
	border: 1px solid #74bc40 !important;
}
.b-btn-prev {
	display: inline-block;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	border: none;
	background-color: #ffffff;
	box-shadow: 0px 3px 7px rgba(0,0,0,0.14);
	font-family: "icomoon";
	font-size: 16px;
	color: #b9b9b9;
	line-height: 46px;
	content: "\e903";
	cursor: pointer;
}
.b-btn-prev:after{
	content: "\e903";
	margin-right: 2px;
}
.b-btn-prev:hover {
	background-color: #74bc40;
	color: #ffffff;
	border: 1px solid #74bc40 !important;
}
.show {
	opacity: 1 !important;
	visibility: 
}
.hide {
	opacity: 0 !important;
}
.b-orange-butt{

}
	.b-orange-butt:hover{
		
	}
.b-head {
}
	.b-head .b-wide-block {
			max-height: 191px;
	}
			.header {
				background-color: #f5f7f8;
				width: 100%;
				height: 94px;
				padding-top: 26px;	
			}
				.logo {
					background-position: 50% 50%;
					background-image: url('../i/logo.png');
					background-size: cover;				
					height: 58px;
					width: 243px;	
				}
					.logo a {
						display: block;
					}
				.filials {
				margin-top: 3px;
				transition: opacity 0.25s ease;
				}
					.filial-addr {
						font-family: "Ubuntu-Light";
						text-align: left;
						/* text-decoration: underline; */
						margin-left: 42px;
						position: relative;
					}
					.filials li:after {
						content: ".";
						font-size: 0;
						color: #f5f7f8;
						box-sizing: border-box;
						display: inline-block;
						height: 48px;
						width: 2px;
						border:1px solid #e3e3e3;
						position: absolute;
						top: 5px;
						right: -21px;
					}
					.filials li:last-child:after {
						display: none;
					} 
						.filial-addr a {
							font-size: 13px;
							color: #73bb40;
							text-decoration: underline; */
						}
						.filial-addr a:hover {
							text-decoration: none;
						}
						.filial-addr p {
							font-size: 14px;
							color: #656565;
							line-height: 32px;
						}
					.vertical-line {
						background-position: 0 0;
						background-size: cover;
						background-repeat: no-repeat;
						background-image: url("../i/vertical-line.png");
						height: 48px;
						width: 2px;
						position: relative;
						left: 30px;
						top: 4px;
					}
				.search {
					font-family: 'icomoon' !important;
					speak: none;
					font-size: 20px;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					color: #74bc40;
					border: 1px solid #e3e3e3;
					border-radius: 52px;
					overflow:hidden;
					height: 54px;
					width: 54px;
					position: absolute;
					right: 210px;
					top: 6px;
					transition: width 0.55s ease;
					cursor: pointer;
				}
						.header .b-block .search.maxopacity { 
							width: 600px;
						}
						.filials.maxopacity {
							opacity: 0;
						}
					.search .open {
						border: 2px solid #e3e3e3;
						background-color: #ffffff;
						border-radius: 52px;
						margin-top: -2px;
						margin-right: -2px;
						height: 54px;
						width: 600px;
						text-align: right;
					}
						.search .open .icon-search {
							position: absolute;
							top: 17px;
							right: 17px;
							content: "\e901";
						}
						.search .open .icon-search:before {
  							
						}
							.search .open form {
									/* margin-top: 10px; */
									text-align: right;
									border-style: none;
									width: 100%;
								}							
								.search .open .search-text {
									font-size: 20px;
									color: #656565;
									border-style: none;
									margin-left: 0;
									/* display: inline-block; */
									height: 50px;
									width: 550px;
									padding-left: 20px;
								}
								.search .open .search-button {
									margin-right: 20px;
									display: none;
								}

				.callback  {
					position: relative;
					margin-top: 2px;
					margin-right: 0px;
				}
				.callback .callback-btn.onhover {
					background-color: #74bc40;
					color: #ffffff;
				}		
					.callback a {
						width: 185px;
						box-sizing: border-box;
						display: inline-block;
						height: 52px;
						margin-top: 5px;
					}
					.callback p {
						position: absolute;
						top: 20px;
						right: 3px;
						color: #74bc40;
						border-bottom: 1px dashed #74bc40;
						line-height: 18px;
						/* left: 0px; */
						font-size: 15px;
					}
					.callback p.onhover {
						border-bottom: 0px;
					}
					.callback-btn {
						border: 2px solid #74bc40;
						border-radius: 50%;
						height: 48px;
						width: 48px;
						position: absolute;
						top: 5px;
				}
					.callback .icon-callback {
						content: "\e900";
						position: absolute;
						top: 13px;
						left: 15px;
						font-family: 'icomoon' !important;
						speak: none;
						font-style: normal;
						font-weight: normal;
						font-variant: normal;
						text-transform: none;
						line-height: 1;
						color: #74bc40;
						font-size: 20px;
					}
					.callback .icon-callback.onhover {
						color: #f5f7f8;
					}
			.main-menu {
				width: 100%;
				height: 66px;
				border-top: 2px solid #e5e5e5;
				border-bottom: 3px solid #74bc40;
			}
				.main-menu .b-block {
					overflow:hidden;
				}
					.main-menu .b-block ul{
						display: block;
						float: left;
					}
					.main-menu li {
						display: inline-block;
					}
						.main-menu a {
							font-size: 12px;
							color: #262626;
							text-align: center;
							text-transform: uppercase;
							display: inline-block;
							box-sizing: border-box;
							background-color: #ffffff;
							float: left;
							height: 66px;
							padding: 27px 44px 0;
							margin-right: -1px;
							line-height: 14px;
						}
						.main-menu a:hover {
							background-color: #74bc40;
							color: #ffffff;
						}
			.zapis-na-priem	{
			}
				.b-block .zapis-na-priem a {
					display: inline-block;
					background-color: #74bc40;
					color: #ffffff;
					text-align: center;
					margin: 0 auto;
					width: 207px;
					padding: 27px 0;
				}
				.b-block .zapis-na-priem a:hover {
					background-color: #68ae36;
				}
.main-content {

}
	.major-slider {
	}
		.main-content .b-wide-block{
		}
			.back-slider {
				height: 438px;
			}
				.back-slide {
					background-position: 50% 50%;
					background-size: cover;
					background-repeat: no-repeat;
					height: 438px;
				}
					.back-slider .slick-dots {
						z-index: 10;
						position: absolute;
						top: 143px;
						left: 50%;
						margin-left: 554px;
						background-color: transparent;
						/* cursor: pointer; */
					}
						.back-slider .slick-dots li{
							width: 40px;
							height: 38px;
							font-size: 0px;
						}
							.back-slider .slick-dots li button {
								width: 40px;
								height: 40px;
								background-color: transparent;
								border: none;
								font-size: 0px;
								cursor: pointer;
							}
							.back-slider .slick-dots li button:after {
								display: inline-block;
								content: ".";
								width: 10px;
								height: 10px;
								border-radius: 50%;
								background-color: #ffffff;
								font-size: 0px;
								border: none;
								margin-top: 0px;
							}
							.back-slider .slick-dots li:hover button:after {
								border-radius: 50%;
								border: 5px solid #7e7e7e !important;
								width: 7px;
								height: 7px;
							}
							.back-slider .slick-dots .slick-active button:after{
								border-radius: 50%;
								border: 5px solid #77bc40 !important;
								width: 7px;
								height: 7px;
							}
			.major-slider .b-btn-prev { 
				display: none !important;
			}
			.major-slider .b-btn-next { 
				display: none !important;
			}
					.slider-btns {
						position: absolute;
						left: 50%;
						margin-left: 200px;
					}
					.slider-btns:after {
						width: 6px;
						height: 6px;
						border-radius: 50%;
						background-color: #ffffff;
						position: absolute;					
					}
			.green-circle {
				background-position: 50% 50%;
				background-size: cover;
				background-repeat: no-repeat;
				background-image: url("../i/green-circle.png");
				height: 438px;
				width: 765px;		
				position: absolute;
				right: 50%;
				margin-right: 15px;
				top: 0;
			}
				.front-slider {
					height: 438px;
					position: absolute;
					top: 0;
					left: 200px;
					width: 500px;					
				}
					.front-slider-align {
						display: table !important;
						height: 438px;
						z-index: 10;
					}
					.front-slide {
						display: table-cell;
						vertical-align: middle;
						text-align: left;
					}
					.front-slide h2 {
						font-family: "Ubuntu-Bold";
						line-height: 40px;
						width: 200px;
						display: inline-block;
						margin-bottom: 20px;
						font-size: 32px;
					}
					.front-slide p {
						font-family: "Ubuntu-Light";
						line-height: 30px;
						width: 440px;
						margin-bottom: 36px;
					}
	.about-company {

	}
		.about-company .b-wide-block {
			height: 712px;
			background-color: #ffffff;
		}
			.about-company .b-wide-block .b-block {
				padding-top: 112px;
			}
				.about-align-cont {
					
				}
					.left-slider {
						height: 496px;
						width: 742px;
						position: relative;
					}
						.left-slide {
							background-size: cover;
							background-position: 50% 50%;
							height: 496px;
						}
						.left-slider .b-btn-prev {
							position: absolute;
							right: 104px;
							bottom: -21px;
							/* margin-top: -24px; */
							z-index: 10;
						}
						.left-slider .b-btn-prev:hover {
							border: none !important;
						}
						.left-slider .b-btn-next {
							margin-top: -24px;
							position: absolute;
							right: 46px;
						}
					.right-slider .slick-dots {
						z-index: 9999;
						position: absolute;
						bottom: 0;
						left: -3px;
						margin-bottom: -116px;
						background-color: transparent;
					}
						.right-slider .slick-dots li{
							width: 19px;
							height: 19px;
							font-size: 0px;
							display: inline-block;
						}
							.right-slider .slick-dots li button {
								width: 18px;
								height: 18px;
								background-color: transparent;
								border: none;
								font-size: 0px;
								cursor: pointer;
							}
							.right-slider .slick-dots li button:after {
								display: inline-block;
								content: ".";
								width: 8px;
								height: 8px;
								border-radius: 50%;
								background-color: #ebebeb;
								font-size: 0px;
								border: none;
								margin-top: 0px;
							}
							.right-slider .slick-dots li:hover button:after {
								background-color: #989898;
							}
							.right-slider .slick-dots .slick-active button:after{
								background-color: #74bc40; 
							}
					.right-slider .b-btn-prev { 
						display: none !important;
					}
					.right-slider .b-btn-next { 
						display: none !important;
					}
					.right-slider {
						margin-left: 48px;
						width: 370px;
						text-align: left;
						margin-top: 0;
					}
					.right-slider:before {
						content: "о компании";
						font-family: "Ubuntu-Medium";
						font-size: 20px;
						color: #a4b1bf;
						display: inline-block;
						text-transform: uppercase;
						/* margin-left: 9px; */
						margin-top: 0;
						position: absolute;
						top: -5px;
					}
					.about-text-slide {
						}
						.about-text-slide h2 {
							font-family: "Ubuntu-Bold";
							font-size: 42px;
							line-height: 46px;
							color: #181818;
							margin-top: 32px;
							margin-bottom: 39px;
						}
						.about-text-slide p {
							font-family: "Ubuntu-Light";
							font-size: 16px;
							line-height: 24px;
							color: #171717;
							margin-bottom: 36px;
						}
						.about-text-slide a {
							border: 1px solid #e3e3e3;
							line-height: 56px;
						}		
	.services {

	}
		.services .b-wide-block {
			height: 738px;
			background-image: url("../i/services-bgrnd.jpg");
			background-position: 50% 50%;
			background-size: cover;
			background-repeat: no-repeat; 
		}
			.b-block {

			}
				.services-menu {
					position: absolute;
					/* bottom: 0px; */
					margin-top: 412px;
				}
				.services-menu li {
					display: inline-block;
					height: 110px;
					width: 269px;
					max-width: 400px;
					margin-right: 28px;
					background-color: #ffffff;
					background-color: rgba(255, 255, 255, 0.8);
					float: left;
				}
				.services-menu li:nth-child(4) {
					margin-right: 0px;
					margin-bottom: 24px;
				}
				.services-menu li:nth-child(8) {
					margin-right: 0px;
				}
						.services-menu li button {
							font-family: "Ubuntu";
							font-size: 20px;
							padding-left: 34px;
							/* text-transform: uppercase; */
							text-align: left;
							color: #282828;
							display: table-cell;
							width: 269px;
							height: 110px;
							line-height: 30px;
							vertical-align: middle;
							background-color: transparent;
							cursor:pointer;
						}
						.services-menu li button:hover {
							color: #74bc40;
							background-color: #ffffff;
						}
						.services-menu li button:active {
							color: #ffffff;
							background-color: #717171;
						}
						.active {
							color: #ffffff !important;
							background-color: #717171 !important;							
						}									
				.services-texts {
					/* width: 450px; */
					position: absolute;
					left: 0px;
				}
				.services-text-container {
					position: absolute;
					display: table;
					height: 398px;
					width: 450px;
				}
					.services-text {
						display: table-cell;
						top: 0;
						text-align: left;
						vertical-align: middle;
						opacity: 0;
					}
						.services-text h3 {
							font-family: "Ubuntu-Bold";
							font-size: 48px;
							color: #181818;
							line-height: 55px;
							margin-bottom: 28px;
						}
						.services-text p {
							font-family: "Ubuntu-Light";
							color: #171717;
						}
					.services-images .show {
						opacity: 1;
					}
				.services-images {
					width: 696px;
					position: absolute;
					top: 0;
					right: 0;
				}
					.services-image {
						position: absolute;
						top: 0;
						right: 0;
						width: 696px;
						height: 620px;
						background-position: 50% 50%;
						background-size: cover;
						background-repeat: no-repeat; 
						opacity: 0;
					}
					.services-images .show {
						opacity: 1;
					}
	.reviews {

	}
		.reviews .b-wide-block {
			background-color: #ffffff;
			padding-top: 54px;
		}
			.reviews .b-wide-block .b-block {
				/*overflow: hidden;*/
			}
				.reviews-header {
					font-family: "Ubuntu-Bold";
					font-size: 48px;
					line-height: 55px;
					color: #181818;
					text-align: left;
					/* margin-top: 54px; */
					margin-bottom: 38px;
				}
				.review-slide-block {
					width: 1190px;
					margin-left: -34px;
					margin-bottom: 40px;
				}
					.review-single {
						background-color: #fafafa;
						width: 519px;
						margin-top: 18px;
						margin-left: 80px;
						margin-right: 0px; 
					}
						.review-single-head {
							display: table;
							width: 100%;
							margin-top: 30px;
						}
							.review-single-phot {
								background-position: 50% 50%;
								background-size: cover;
								background-repeat: no-repeat;
								height: 110px;
								width: 110px;
								border-radius: 55px;
								overflow: hidden;
								margin-left: -46px;
							}
							.review-single-name {
								display: table-cell;
								vertical-align: middle;
								width: 200px;
								text-align: left;
							}
								.review-single-name h5{
									font-family: "Ubuntu";
									font-size: 19px;
									line-height: 28px;
									text-transform: uppercase;
									color: #73bb40;
									text-align: left;
									letter-spacing: 1px;
								}
								.review-single-name p{
									font-family: "Ubuntu-Light";
									font-size: 16px;
									line-height: 28px;
									color: #cccccc;
									text-align: left;
								}
							.review-single-head .b-btn {
								border: 1px solid #e3e3e3;
								background-color: transparent;
							}
							.review-btn {
								display: table-cell;
								vertical-align: middle;
								text-align: right;
								padding-right: 44px;
								width: 175px;
							}
					.review-single-text {
						color: #1f1f1f;
						text-align: left;
						display: table-cell;
						vertical-align: middle;
						height: 206px;
					}
						.review-single-text p {
							margin-left: 45px;
							width: 445px;
						}
					.review-slide-block  .b-btn-prev {
						position: absolute;
						/* border: 1px solid #b9b9b9; */
						right: 113px;
						bottom: -23px;
						/* box-shadow: none; */
						z-index: 10;
					}
					.review-slide-block  .b-btn-prev:hover {
						border: none !important;
					}
					.review-slide-block  .b-btn-next {
						/* border: 1px solid #b9b9b9; */
						position: absolute;
						/* box-shadow: none; */
						right: 57px;
						bottom: -23px;
					}					
				.review-more {padding-bottom: 50px;}
					.review-more-cont {
						/* margin: 0 auto; */
						/* width: 300px; */
						text-align: left;
					}
						.review-reply {
							display: inline-block;
							margin-left: 40%;
						}
						.review-reply a{
							font-family: "Ubuntu-Medium";
							font-size: 12px;
							color: #ffffff;
							background-color: #74bc40;
							padding-right: 30px;
						}
						.review-reply a:hover {
							background-color: #589b27;
						}
						.review-reply .b-btn:after {
							display: none;							
						}		
						.review-all {
							display: inline-block;
							margin-left: 23px;
						}
						.review-all a{
							font-size: 14px;
							font-family: "Ubuntu";
							text-decoration: underline;
							line-height: 54px;
							display: inline-block;
						}
						.review-all a:hover {
							text-decoration: none;
						}
	.map {

	}
		.map .b-wide-block {
			height: 531px;
		}
			.map-block {
/*				background-position: 50% 50%;
				background-size: cover;
				background-repeat: no-repeat;
				background-image: url("../i/map.jpg");*/
				height: 531px;
			}
			.map-cont {
				position: absolute;
				height: 334px;
				width: 332px;
				left: 50%;
				margin-left: 168px;
				padding: 34px 40px 0;
				top: 90px;
				text-align: left;
				background-color: rgba(255,255,255,0.8);
				box-shadow: 0px 2px 6px #b9b9b9;
				transition: opacity 0.25s ease;
			}
			.map-cont-close {
				height: 24px;
				width: 24px;
				border-radius: 50%;
				border: 1px solid #b9b9b9;
				background-color: #ffffff;
				position: absolute;
				top: 33px;
				right: 35px;
				cursor: pointer;
			}
			.map-cont-close:hover {
				background-color: #74bc40;
				border: 1px solid #74bc40;
			}			
			.map-cont-close:after {
				font-family: "icomoon";
				font-size: 15px;
				color: #b9b9b9;
				content: "\e906";
				margin-left: 5px;
				line-height: 25px;
			}
			.map-cont-close:hover:after {
				color: #ffffff;
			}
				.map-cont h6 {
					font-family: "Ubuntu-Medium";
					font-size: 16px;
					line-height: 40px;
					color: #1a1a1a;
				}
					.map-cont-head {
						text-align: left;
						color: #242424;
						margin-bottom: 11px;
					}
						.map-cont-head h5 {
							font-family: "Ubuntu-Medium";
							font-size: 30px;
							line-height: 42px;				
						}
						.map-cont-head p {
							font-family: "Ubuntu-Medium";
							line-height: 23px;
							color: #bbb7b7;
							text-transform: uppercase;
						}				
						.map-cont-addr {
							display: inline-block;
							margin-right: 40px;
						}
							.map-cont-addr ul li:nth-child(1) p:before{
								font-family: "icomoon";
								font-size: 14px;
								content: "\e904";
								color: #74bc40;
								margin-right: 5px;
							}
							.map-cont-addr ul li:nth-child(2) p:before{
								font-family: "icomoon";
								font-size: 13px;
								content: "\e900";
								color: #74bc40;
								margin-right: 5px;
							}
							.map-cont-addr ul li:nth-child(3) p:before{
								font-family: "icomoon";
								font-size: 10px;
								content: "\e905";
								color: #74bc40;
								margin-right: 5px;
							}												
							.map-cont-addr h5 {
								font-family: "Ubuntu-Medium";
								font-size: 16px;
								line-height: 40px;
								color: #1a1a1a;
							}
							.map-cont-addr p {
								font-family: "Ubuntu-Light";
								font-size: 14px;
								line-height: 35px;
								color: #202020;						
							}						
						.map-cont-shedule {
							font-family: "Ubuntu-Medium";
							font-size: 14px;
							line-height: 24px;
							display: inline-block;
						}
							.map-cont-shedule h5 {
								font-family: "Ubuntu-Medium";
								font-size: 16px;
								line-height: 40px;
								color: #1a1a1a;						
							}
							.map-cont-shedule p {
								font-family: "Ubuntu-Medium";
								font-size: 14px;
								line-height: 13px;
								color: #1a1a1a;
								margin-bottom: 11px;
							}	
							.map-cont-shedule h6 {
								font-family: "Ubuntu-Light";
								font-size: 14px;
								line-height: 36px;
								color: #1a1a1a;
							}	


	.footer {
	}
		.footer-cont {
		}
			.footer-cont .b-wide-block {
				height: 498px;
				background-color: #f5f7f8;
				border-top: 1px solid #e3e3e3;
				border-bottom: 1px solid #e3e3e3;
				text-align: left;
			}
				.footer-cont .b-block {
					height: 498px;
				}
					.footer-columns {
						padding-top: 64px;
					}
						.footer-columns h4 {
							font-family: "Ubuntu-Medium";
							font-size: 17px;
							line-height: 26px;
							color: #1a1a1a;
							text-transform: uppercase;
						}
						.footer-columns a {
							display: inline-block;
							font-family: "Ubuntu-Light";
							font-size: 14px;
							line-height: 36px;
							color: #1a1a1a;
						}						
						.footer-columns a:hover {
							text-decoration: underline;
							color: #74bc40;
						}
						.footer-columns p {
							font-family: "Ubuntu-Light";
							font-size: 14px;
							line-height: 36px;
							color: #1a1a1a;
						}
						.footer-logconts {
							width: 255px;
							margin-right: 12%; /*140px*/
						}
							.footer-logo {
							margin-bottom: 26px;
							}
							.footer-logo-img {
								background-position: 50% 50%;
								background-image: url("../i/logo-footer.png");
								background-size: cover;				
								height: 61px;
								width: 255px;	
							}
								.footer-logo-img a {
									display: block;
								}
							.footer-contacts {
							}	
								.footer-contacts h4 {
									margin-bottom: 14px;
								}							
								.footer-contacts p {
									color: #656565;
									line-height: 29px;
								}					
								.footer-contacts li {
									margin-bottom: 11px;
								}
						.footer-pages {
							margin-right: 200px;
						}
							.footer-pages ul {
								margin-top: 18px;
							}
						.footer-services {
							margin-right: 119px;
						}
							.footer-services ul {
								margin-top: 18px;
							}
						.footer-shedule {
							}							
							.footer-shedule li {
									margin-bottom: 8px;
								}							
							.footer-shedule h4 {
								margin-bottom: 15px;
							}
							.footer-shedule h6 {
								font-family: "Ubuntu-Medium";
								font-size: 16px;
								line-height: 40px;
								color: #1a1a1a;
							}
			.footer-copyright {
				position: absolute;
				right: 0;
				bottom: 40px;
				background-position: 50% 50%;
				background-image: url("../i/copyright-redder.png");
				background-size: cover;
				height: 16px;
				width: 93px;
			}
				.footer-copyright a {
					display: block;
					height: 16px;
					width: 93px;					
				}
		.footer-sub {
		}
			.footer-sub p {
			font-family: "Ubuntu-Light";
			font-size: 25px;
			line-height: 40px;
			color: #dcdcdc;
			letter-spacing: 10px;
			margin-top: 29px;
			padding-bottom: 32px;
			text-transform: uppercase;
			}
/*Адаптировал под таблеты*/
.b-1{
	
}

.icon-icon-arrow-next:before {
  content: "\e902";
}
.icon-icon-arrow-prev:before {
  content: "\e903";
}
.icon-icon-map-pointer:before {
  content: "\e904";
}
.icon-icon-mail:before {
  content: "\e905";
}
.icon-callback:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
	.b-icon:before{
		background-image: url('../i/sprite@2x.png');
	}
}	
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}