@charset "utf-8";


@font-face {
  	font-family: 'Ubuntu-Bold';
  	src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Ubuntu-Bold.woff') format('woff'), 
  		url('../fonts/Ubuntu-Bold.ttf') format('truetype'), 
		url('../fonts/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),  
	  url('../fonts/Ubuntu-Medium.woff') format('woff'), 
	  url('../fonts/Ubuntu-Medium.ttf')  format('truetype'), 
	  url('../fonts/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu.eot?#iefix') format('embedded-opentype'),  
	  url('../fonts/Ubuntu.woff') format('woff'), 
	  url('../fonts/Ubuntu.ttf')  format('truetype'), 
	  url('../fonts/Ubuntu.svg#Ubuntu') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('../fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),  
	  url('../fonts/Ubuntu-Light.woff') format('woff'), 
	  url('../fonts/Ubuntu-Light.ttf')  format('truetype'), 
	  url('../fonts/Ubuntu-Light.svg#Ubuntu-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qrllgb');
  src:  url('../fonts/icomoon.eot?qrllgb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qrllgb') format('truetype'),
    url('../fonts/icomoon.woff?qrllgb') format('woff'),
    url('../fonts/icomoon.svg?qrllgb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
	position: relative;
}
body {
	min-width: 1000px;
	text-align: center;
	font-family: 'Ubuntu';
	font-size: 16px;
	line-height: 24px;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #ffffff;
}
a{
	text-decoration: none;
	color: #472275;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-wide-block{
	position: relative;
	max-width: 1560px;
	width: 100%;
	min-width: 1160px;
	margin: 0px auto;
	background-color: #FFF;
}
.b-block{
	position: relative;
	width: 1160px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #434343;
}
input:-moz-placeholder {
	color: #434343;
}
.b-icon{
	position: relative;
}
.b-icon:before{
	background-repeat: no-repeat;
	background-image: url('../i/sprite.png');
	background-size: 289px;
	position: absolute;
	content: "s";
	font-size: 0px;
}
.b-orange-butt{

}
	.b-orange-butt:hover{
		
	}
.b-head {
}
	.b-head .b-wide-block {
			max-height: 191px;
	}
			.header {
				background-color: #f5f7f8;
				width: 100%;
				height: 94px;
				padding-top: 26px;	
			}
				.logo {
					background-position: 50% 50%;
					background-image: url('../i/logo.png');
					background-size: cover;				
					height: 58px;
					width: 243px;	
				}
					.logo a {
						display: block;
					}
				.filials {
				margin-top: 3px;
				transition: opacity 0.25s ease;
				}
					.filial-addr {
						font-family: "Ubuntu-Light";
						text-align: left;
						/* text-decoration: underline; */
						margin-left: 42px;
						position: relative;
					}
					.filial-addr:after {
						content: ".";
						font-size: 0;
						color: #f5f7f8;
						box-sizing: border-box;
						display: inline-block;
						height: 48px;
						width: 2px;
						border:1px solid #e3e3e3;
						position: absolute;
						top: 5px;
						right: -21px;
					}
					.filials:last-child .filial-addr:after {
						display: none;
					} 
						.filial-addr a {
							font-size: 13px;
							color: #73bb40;
							text-decoration: underline; */
						}
						.filial-addr a:hover {
							text-decoration: none;
						}
						.filial-addr p {
							font-size: 14px;
							color: #656565;
							line-height: 32px;
						}
					.vertical-line {
						background-position: 0 0;
						background-size: cover;
						background-repeat: no-repeat;
						background-image: url("../i/vertical-line.png");
						height: 48px;
						width: 2px;
						position: relative;
						left: 30px;
						top: 4px;
					}
				.search {
					font-family: 'icomoon' !important;
					speak: none;
					font-size: 20px;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					color: #74bc40;
					border: 1px solid #e3e3e3;
					border-radius: 52px;
					overflow:hidden;
					height: 54px;
					width: 54px;
					position: absolute;
					right: 210px;
					top: 6px;
					transition: width 0.55s ease;
				}
						.header .b-block .search.maxopacity { 
							width: 600px;
						}
						.filials.maxopacity {
							opacity: 0;
						}
					.search .open {
						border: 2px solid #e3e3e3;
						background-color: #ffffff;
						border-radius: 52px;
						margin-top: -1px;
						margin-right: -1px;
						height: 52px;
						width: 600px;
						text-align: right;
					}
						.search .open .icon-search {
							position: absolute;
							top: 17px;
							right: 17px;
							content: "\e901";
						}
						.search .open .icon-search:before {
  							
						}
							.search .open form {
									/* margin-top: 10px; */
									text-align: right;
									border-style: none;
									width: 100%;
								}							
								.search .open .search-text {
									font-size: 20px;
									color: #656565;
									border-style: none;
									margin-left: 0;
									/* display: inline-block; */
									height: 50px;
									width: 550px;
									padding-left: 20px;
								}
								.search .open .search-button {
									margin-right: 20px;
									display: none;
								}

				.callback  {
					position: relative;
					margin-top: 2px;
					margin-right: 1px;
				}
				.callback .callback-btn.onhover {
					background-color: #74bc40;
					color: #ffffff;
				}		
					.callback a {
						width: 185px;
						box-sizing: border-box;
						display: inline-block;
						height: 52px;
						margin-top: 5px;
					}
					.callback p {
						position: absolute;
						top: 20px;
						right: 3px;
						color: #74bc40;
						border-bottom: 1px dashed #74bc40;
						line-height: 18px;
						/* left: 0px; */
						font-size: 15px;
					}
					.callback p.onhover {
						border-bottom: 0px;
					}
					.callback-btn {
						border: 2px solid #74bc40;
						border-radius: 50%;
						height: 48px;
						width: 48px;
						position: absolute;
						top: 5px;
				}
					.callback .icon-callback {
						content: "\e900";
						position: absolute;
						top: 13px;
						left: 15px;
						font-family: 'icomoon' !important;
						speak: none;
						font-style: normal;
						font-weight: normal;
						font-variant: normal;
						text-transform: none;
						line-height: 1;
						color: #74bc40;
						font-size: 20px;
					}
					.callback .icon-callback.onhover {
						color: #f5f7f8;
					}
			.main-menu {
				width: 100%;
				height: 66px;
				border-top: 2px solid #e5e5e5;
				border-bottom: 3px solid #74bc40;
			}
				.main-menu .b-block {
					overflow:hidden;
				}
					.main-menu .b-block ul{
						display: block;
						float: left;
					}
					.main-menu li {
						display: inline-block;
					}
						.main-menu a {
							font-size: 12px;
							color: #262626;
							text-align: center;
							text-transform: uppercase;
							display: block;
							box-sizing: border-box;
							background-color: #ffffff;
							float: left;
							height: 66px;
							padding: 26px 44px 0;
							margin-right: -1px;
							line-height: 14px;
						}
						.main-menu a:hover {
							background-color: #74bc40;
							color: #ffffff;
						}
			.zapis-na-priem	{
				margin-right: 1px;
				/* max-width: 217px; */
			}
				.b-block .zapis-na-priem a {
					background-color: #74bc40;
					color: #ffffff;
					/* text-align: center; */
					/* margin: 0 0; */
					width: 207px;
				}
				.b-block .zapis-na-priem a:hover {
					background-color: #68ae36;
				}
.main-content {

}
	.major-slider {
	}
		.main-content .b-wide-block{
			height: 438px;
		}
			.back-slider {
				height: 438px;
			}
				.back-slide {
					background-position: 50% 50%;
					background-size: cover;
					background-repeat: no-repeat;
					height: 438px;
				}
					.back-slider .slick-dots {
						z-index: 9999;
						position: absolute;
						top: 143px;
						left: 50%;
						margin-left: 554px;
						background-color: transparent;
					}
						.back-slider .slick-dots li{
							width: 40px;
							height: 38px;
							font-size: 0px;
						}
							.back-slider .slick-dots li button {
								width: 40px;
								height: 40px;
								background-color: transparent;
								border: none;
								font-size: 0px;
							}
							.back-slider .slick-dots li button:after {
								display: inline-block;
								content: ".";
								width: 10px;
								height: 10px;
								border-radius: 50%;
								background-color: #ffffff;
								font-size: 0px;
								border: none;
								margin-top: 0px;
							}
							.back-slider .slick-dots .slick-active button:after{
								border-radius: 50%;
								border: 5px solid #77bc40 !important;
								width: 7px;
								height: 7px;
							}
			.slick-prev { 
				display: none !important 
			}
			.slick-next { 
				display: none !important 
			}
			.b-block {
				overflow: visible;
			}

					.slider-btns {
						position: absolute;
						left: 50%;
						margin-left: 200px;
					}
					.slider-btns:after {
						width: 6px;
						height: 6px;
						border-radius: 50%;
						background-color: #ffffff;
						position: absolute;					
					}
			.green-circle {
				background-position: 50% 50%;
				background-size: cover;
				background-repeat: no-repeat;
				background-image: url("../i/green-circle.png");
				height: 438px;
				width: 765px;		
				position: absolute;
				right: 50%;
				margin-right: 15px;
				top: 0;
			}
			.front-slider-align-container {
				display: table;
				height: 438px;
				width: 500px;
				position: absolute;
				top: 0;
				left: 200px;
				}
				.front-slider {
					width: 35%;
					display: table-cell;
					vertical-align: middle;
				}
					.front-slide {
						text-align: left;
					}
					.front-slide h2 {
						font-family: "Ubuntu-Bold";
					}
					.front-slide p {
						font-family: "Ubuntu-Light";
					}
					.front-slide s {
						font-family: "Ubuntu-Medium";
						color: #74bc40;
					}
.b-1{
	
}
.icon-callback:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
	.b-icon:before{
		background-image: url('../i/sprite@2x.png');
	}
}	
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}