@charset "utf-8";


html,
body {
	position: relative;
}
body {
	min-width: 1024px;
	text-align: center;
	font-family: 'Ubuntu';
	font-size: 16px;
	line-height: 24px;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
}
body {
	background-position: 50% 50%;
	background-size: 1871px;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
}
[class^="icon-"]:before, [class*=" icon-"]:before{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
}
.b{
	position: relative;
}
.b-wide-block{
	position: relative;
	width: 100%;
	min-width: 960px;
	margin: 0px auto;
}
.b-block{
	position: relative;
	width: 960px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
}
input:-moz-placeholder {
}
.b-icon{
	position: relative;
}
.b-icon:before{
	background-size: 289px;
	position: absolute;
	content: "s";
	font-size: 0px;
}
button {
	border: none;
}
.b-btn {
	font-family: "Ubuntu-Light";
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	border-radius: 28px;
	height: 56px;
	padding: 0px 18px 0px 22px;
	line-height: 56px;
	cursor: pointer;
}
.arrow {
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	line-height: 20px;
	/* padding-bottom: 4px; */
	margin-left: 14px;
	text-align: center !important;
}
.arrow:hover {
}			
.arrow:after {
	font-family: "icomoon";
	font-size: 10px;
	content: "\e907";
	margin-left: 2px;
}
/*.b-btn:hover {
	border: 1px solid #74bc40;
}*/
.b-btn-next {
	display: inline-block;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	border: none;
	font-family: "icomoon";
	font-size: 16px;
	line-height: 46px;
	cursor: pointer;
}
.b-btn-next:after{
	content: "\e902";
	margin-left: 2px;
}
.b-btn-next:hover {
	border: 1px solid #74bc40 !important;
}
.b-btn-prev {
	display: inline-block;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	border: none;
	font-family: "icomoon";
	font-size: 16px;
	line-height: 46px;
	content: "\e903";
	cursor: pointer;
}
.b-btn-prev:after{
	content: "\e903";
	margin-right: 2px;
}
.b-btn-prev:hover {
	border: 1px solid #74bc40 !important;
}
.show {
	visibility: 
}
.hide {
}
.b-orange-butt{

}
	.b-orange-butt:hover{
		
	}
.b-head {
}
	.b-head .b-wide-block {
			max-height: 191px;
	}
			.header {
				width: 100%;
				height: 94px;
				padding-top: 26px;	
			}
				.logo {
					background-position: 50% 50%;
					background-size: cover;				
					height: 58px;
					width: 243px;	
				}
					.logo a {
						display: block;
					}
				.filials {
				margin-top: 3px;
				transition: opacity 0.25s ease;
				margin-top: 4px;
				}
					.filial-addr {
						font-family: "Ubuntu-Light";
						text-align: left;
						/* text-decoration: underline; */
						margin-left: 33px;
						position: relative;
					}
					.filials li:after {
						content: ".";
						font-size: 0;
						box-sizing: border-box;
						display: inline-block;
						height: 48px;
						width: 2px;
						border:1px solid #e3e3e3;
						position: absolute;
						top: 5px;
						right: -17px;
					}
					.filials li:last-child:after {
						display: none;
					} 
						.filial-addr a {
							font-size: 13px;
							text-decoration: underline; */
						}
						.filial-addr a:hover {
							text-decoration: none;
						}
						.filial-addr p {
							font-size: 14px;
							line-height: 32px;
						}
					.vertical-line {
						background-position: 0 0;
						background-size: cover;
						height: 48px;
						width: 2px;
						position: relative;
						left: 30px;
						top: 4px;
					}
				.search {
					height: 54px;
					width: 54px;
					right: 146px;
					top: 6px;
				}
						.header .b-block .search.maxopacity {
							width: 545px;
						}
						.filials.maxopacity {
						}
					.search .open {
						border: 2px solid #e3e3e3;
						border-radius: 52px;
						margin-top: -2px;
						margin-right: -2px;
						height: 54px;
						width: 545px;
						text-align: right;
					}
						.search .open .icon-search {
							position: absolute;
							top: 17px;
							right: 17px;
							content: "\e901";
						}
						.search .open .icon-search:before {
  							
						}
							.search .open form {
									/* margin-top: 10px; */
									text-align: right;
									border-style: none;
									width: 100%;
								}							
								.search .open .search-text {
									font-size: 20px;
									border-style: none;
									margin-left: 0;
									/* display: inline-block; */
									height: 54px;
									width: 490px;
									padding-left: 20px;
								}
								.search .open .search-button {
									margin-right: 20px;
									display: none;
								}

				.callback  {
					position: relative;
					margin-top: 2px;
					margin-right: 0px;
					width: 127px;
				}
				.callback .callback-btn.onhover {
				}		
					.callback a {
						width: 127px;
						box-sizing: border-box;
						display: inline-block;
						height: 52px;
						/*margin-top: 5px;*/
					}
					.callback p {
						position: absolute;
						top: 13px;
						display: inline;
						left: 65px;
						border-bottom: none;
						line-height: 18px;
						/* text-decoration: underline dashed; */
						font-size: 15px;
						width: 63px;
						text-align: left;
						white-space: normal;
					}
					.callback p.onhover {
						border-bottom: 0px;
					}
					.callback-btn {
						border: 2px solid #74bc40;
						border-radius: 50%;
						height: 48px;
						width: 48px;
						position: absolute;
						top: 5px;
						/* text-align: center; */
				}
					.callback .icon-callback {
						content: "\e900";
						position: absolute;
						top: 13px;
						left: 15px;
						font-family: 'icomoon' !important;
						speak: none;
						font-style: normal;
						font-weight: normal;
						font-variant: normal;
						text-transform: none;
						line-height: 1;
						font-size: 20px;
					}
					.callback .icon-callback.onhover {
					}
			.main-menu {
				width: 100%;
				height: 66px;
				border-top: 2px solid #e5e5e5;
				border-bottom: 3px solid #74bc40;
			}
				.main-menu .b-block {
				}
					.main-menu .b-block ul{
						display: block;
						float: left;
					}
					.main-menu li {
						display: inline-block;
					}
						.main-menu a {
							font-size: 12px;
							text-align: center;
							text-transform: uppercase;
							display: inline-block;
							box-sizing: border-box;
							float: left;
							height: 66px;
							padding: 26px 30px 0;
							line-height: 14px;
						}
						.main-menu a:hover {
						}
						.main-menu .header_dropdown_menu {
						}
						.main-menu .header_dropdown_menu ul {
						}
						.main-menu .header_dropdown_menu li {
						}
						.main-menu .header_dropdown_menu a {
							text-align: left;
						}
						.main-menu .header_dropdown_menu a:hover {
						}						
						.main-menu li:hover a .header_dropdown_menu {						
						}						
			.zapis-na-priem	{
				width: auto;
			}
				.b-block .zapis-na-priem a {
					display: inline-block;
					text-align: center;
					padding: 27px 0px 0px;
				}
				.b-block .zapis-na-priem a:hover {
				}
.main-content {

}
	.major-slider {
	}
		.main-content .b-wide-block{
			
		}
			.back-slider {
				
			}
				.back-slide {
					background-position: 50% 50%;
					background-size: cover;
					height: 438px;
				}
					.back-slider .slick-dots {
						position: absolute;
						top: 143px;
						left: 50%;
						margin-left: 440px;
						/* cursor: pointer; */
					}
						.back-slider .slick-dots li{
							width: 40px;
							height: 38px;
							font-size: 0px;
						}
							.back-slider .slick-dots li button {
								width: 40px;
								height: 40px;
								border: none;
								font-size: 0px;
								cursor: pointer;
							}
							.back-slider .slick-dots li button:after {
								display: inline-block;
								content: ".";
								width: 10px;
								height: 10px;
								border-radius: 50%;
								font-size: 0px;
								border: none;
								margin-top: 0px;
							}
							.back-slider .slick-dots li:hover button:after {
								border-radius: 50%;
								border: 5px solid #7e7e7e !important;
								width: 7px;
								height: 7px;
							}
							.back-slider .slick-dots .slick-active button:after{
								border-radius: 50%;
								border: 5px solid #77bc40 !important;
								width: 7px;
								height: 7px;
							}
			.major-slider .b-btn-prev { 
				display: none !important;
			}
			.major-slider .b-btn-next { 
				display: none !important;
			}
					.slider-btns {
						position: absolute;
						left: 50%;
						margin-left: 200px;
					}
					.slider-btns:after {
						width: 6px;
						height: 6px;
						border-radius: 50%;
						position: absolute;					
					}
			.green-circle {
				background-position: 50% 50%;
				background-size: cover;
				height: 438px;
				width: 765px;		
				position: absolute;
				right: 50%;
				margin-right: 15px;
				top: 0;
			}
				.front-slider {
					height: 438px;
					position: absolute;
					top: 0;
					left: 50%;
					width: 500px;
					margin-left: -480px;
				}
					.front-slider-align {
						display: table !important;
						height: 438px;
					}
					.front-slide {
						display: table-cell;
						vertical-align: middle;
						text-align: left;
						/* width: 200px; */
					}
					.front-slide h2 {
						font-family: "Ubuntu-Bold";
						line-height: 40px;
						width: 200px;
						display: inline-block;
						margin-bottom: 20px;
						font-size: 32px;
					}
					.front-slide p {
						font-family: "Ubuntu-Light";
						line-height: 30px;
						width: 370px;
						margin-bottom: 36px;
					}
	.about-company {

	}
		.about-company .b-wide-block {
			/* height: 712px; */
		}
			.about-company .b-wide-block .b-block {
				padding-top: 112px;
			}
				.about-align-cont {
					
				}
					.left-slider {
						height: 361px;
						width: 540px;
						position: relative;
					}
						.left-slide {
							background-size: cover;
							background-position: 50% 50%;
							height: 361px;
						}
						.left-slider .b-btn-prev {
							position: absolute;
							right: 104px;
							margin-top: -24px;
						}
						.left-slider .b-btn-next {
							margin-top: -24px;
							position: absolute;
							right: 46px;
						}
					.right-slider .slick-dots {
						position: absolute;
						bottom: 0;
						left: -3px;
						margin-bottom: -26px;
					}
						.right-slider .slick-dots li{
							width: 19px;
							height: 19px;
							font-size: 0px;
							display: inline-block;
						}
							.right-slider .slick-dots li button {
								width: 18px;
								height: 18px;
								border: none;
								font-size: 0px;
								cursor: pointer;
							}
							.right-slider .slick-dots li button:after {
								display: inline-block;
								content: ".";
								width: 8px;
								height: 8px;
								border-radius: 50%;
								font-size: 0px;
								border: none;
								margin-top: 0px;
							}
							.right-slider .slick-dots li:hover button:after {
							}
							.right-slider .slick-dots .slick-active button:after{
							}
					.right-slider .b-btn-prev { 
						display: none !important;
					}
					.right-slider .b-btn-next { 
						display: none !important;
					}
					.right-slider {
						margin-left: 48px;
						width: 370px;
						text-align: left;
						margin-top: 0;
					}
					.about-right-slider-header {
						font-size: 20px;
						margin-left: 48px;
						margin-top: 0;
					}
					.about-text-slide {
						}
						.about-text-slide h2 {
							font-size: 42px;
							line-height: 46px;
							margin-top: 10px;
							margin-bottom: 13px;
						}
						.about-text-slide p {
							font-size: 16px;
							line-height: 24px;
							margin-bottom: 22px;
						}
						.about-text-slide a {
							border: 1px solid #e3e3e3;
							line-height: 56px;
						}		
	.services {

	}
		.services .b-wide-block {
			height: 738px;
			background-position: 50% 50%;
			background-size: cover;
		}
			.b-block {

			}
				.services-menu {
					position: absolute;
					/* bottom: 0px; */
					margin-top: 412px;
				}
				.services-menu li {
					display: inline-block;
					height: 110px;
					width: 223px;
					max-width: 400px;
					margin-right: 22px;
					float: left;
				}
				.services-menu li:nth-child(4) {
					margin-right: 0px;
					margin-bottom: 24px;
				}
				.services-menu li:nth-child(8) {
					margin-right: 0px;
				}
						.services-menu li button {
							font-family: "Ubuntu";
							font-size: 20px;
							padding-left: 30px;
							text-align: left;
							display: table-cell;
							width: 223px;
							height: 110px;
							line-height: 24px;
							vertical-align: middle;
							cursor:pointer;
						}
						.services-menu li button:hover {
						}
						.services-menu li button:active {
						}
						.active {
						}									
				.services-texts {
					/* width: 450px; */
					position: absolute;
					left: 0px;
				}
				.services-text-container {
					position: absolute;
					display: table;
					height: 398px;
					width: 370px;
				}
					.services-text {
						display: table-cell;
						top: 0;
						text-align: left;
						vertical-align: middle;
					}
						.services-text h3 {
							font-family: "Ubuntu-Bold";
							font-size: 48px;
							line-height: 55px;
							margin-bottom: 28px;
						}
						.services-text p {
							font-family: "Ubuntu-Light";
						}
					.services-images .show {
					}
				.services-images {
					position: absolute;
					top: 0;
					right: 0;
				}
					.services-image {
						position: absolute;
						top: 0;
						right: 0;
						width: 596px;
						height: 520px;
						background-position: 50% 50%;
						background-size: cover;
					}
					.services-images .show {
					}
	.reviews {

	}
		.reviews .b-wide-block {
			padding-top: 54px;
		}
			.reviews .b-wide-block .b-block {
				/*overflow: hidden;*/
			}
				.reviews-header {
					font-family: "Ubuntu-Bold";
					font-size: 48px;
					line-height: 55px;
					text-align: left;
					/* margin-top: 54px; */
					margin-bottom: 38px;
				}
				.review-slide-block {
					width: 990px;
					margin-left: -34px;
				}
					.review-single {
						width: 519px;
						margin-top: 18px;
						margin-left: 80px;
						margin-right: 0px; 
					}										
						.review-single-head {
							display: table;
							width: 100%;
							margin-top: 30px;
						}
							.review-single-phot {
								background-position: 50% 50%;
								background-size: cover;
								height: 110px;
								width: 110px;
								border-radius: 55px;
								overflow: hidden;
								margin-left: -46px;
								margin-right: 13px;
							}
							.review-single-name {
								display: table-cell;
								vertical-align: middle;
								width: 200px;
								text-align: left;
								margin-left: 0px;
							}
								.review-single-name h5{
									font-family: "Ubuntu";
									font-size: 19px;
									line-height: 28px;
									text-transform: uppercase;
									text-align: left;
									letter-spacing: 1px;
								}
								.review-single-name p{
									font-family: "Ubuntu";
									font-size: 18px;
									line-height: 28px;
									text-align: left;
								}
							.review-single-head .b-btn {
								border: 1px solid #e3e3e3;
							}
							.review-btn {
								display: table-cell;
								vertical-align: middle;
								text-align: right;
								padding-right: 20px;
								width: 198px;
							}
					.review-single-text {
						text-align: left;
						display: table-cell;
						vertical-align: middle;
						padding: 0 40px 0 40px;
					}
						.review-single-text p {
							margin-bottom: 30px;
						}
					.review-single-full {
						width: 750px;
						padding: 50px !important;					
					}
						.review-single-full .review-single-head {
							width: 100%;
							margin-top: 0px;
							margin-bottom: 26px;
						}
							.review-single-full .review-single-phot {
								height: 110px;
								width: 110px;
								margin-left: 0px;
							}
							.review-single-full .review-single-name {
								display: inline-block;
								padding: 27px; 
								text-align: left;
							}	
							.review-single-full .review-single-text {
								padding: 0px;
								height: initial;
								margin-bottom: 0px;
							}		
							.review-single-full .review-single-text p {
								max-height: initial;
								margin-bottom: 0px;
							}						
					.review-slide-block  .b-btn-prev {
						position: absolute;
						right: 113px;
						bottom: -23px;
					}
					.review-slide-block  .b-btn-next {
						position: absolute;
						right: 57px;
						bottom: -23px;
					}					
				.review-more {

				}
					.review-more-cont {
						text-align: left;
					}
						.review-reply {
							display: inline-block;
							margin-left: 40%;
						}
						.review-reply a{
							font-family: "Ubuntu-Medium";
							font-size: 12px;
							padding: 0 30px;
						}
						.review-reply a:hover {
						}
						.review-reply .b-btn:after {
							display: none;							
						}		
						.review-all {
							display: inline-block;
							margin-left: 23px;
						}
						.review-all a{
							font-size: 14px;
							font-family: "Ubuntu";
							text-decoration: underline;
							line-height: 54px;
							display: inline-block;
						}
						.review-all a:hover {
							text-decoration: none;
						}
	.map {

	}
		.map .b-wide-block {
			height: 531px;
		}
			.map-block {
				background-position: 50% 50%;
				background-size: cover;
				height: 531px;
			}
			.map-cont {
				position: absolute;
				height: 334px;
				width: 332px;
				left: 50%;
				margin-left: 63px;
				padding: 34px 40px 0;
				top: 90px;
				text-align: left;
				transition: opacity 0.25s ease;
			}
			.map-cont-close {
				height: 24px;
				width: 24px;
				border-radius: 50%;
				border: 1px solid #b9b9b9;
				position: absolute;
				top: 33px;
				right: 35px;
				cursor: pointer;
			}
			.map-cont-close:hover {
				border: 1px solid #74bc40;
			}			
			.map-cont-close:after {
				font-family: "icomoon";
				font-size: 15px;
				content: "\e906";
				margin-left: 5px;
				line-height: 25px;
			}
			.map-cont-close:hover:after {
			}
				.map-cont h6 {
					font-family: "Ubuntu-Medium";
					font-size: 16px;
					line-height: 40px;
				}
					.map-cont-head {
						text-align: left;
						margin-bottom: 11px;
					}
						.map-cont-head h5 {
							font-family: "Ubuntu-Medium";
							font-size: 30px;
							line-height: 42px;				
						}
						.map-cont-head p {
							font-family: "Ubuntu-Medium";
							line-height: 23px;
							text-transform: uppercase;
						}				
						.map-cont-addr {
							display: inline-block;
							/* margin-right: 40px; */
							width: 210px;
						}
							.map-cont-addr ul li:nth-child(1) p:before{
								font-family: "icomoon";
								font-size: 14px;
								content: "\e904";
								margin-right: 5px;
							}
							.map-cont-addr ul li:nth-child(2) p:before{
								font-family: "icomoon";
								font-size: 13px;
								content: "\e900";
								margin-right: 5px;
							}
							.map-cont-addr ul li:nth-child(3) p:before{
								font-family: "icomoon";
								font-size: 10px;
								content: "\e905";
								margin-right: 5px;
							}												
							.map-cont-addr h5 {
								font-family: "Ubuntu-Medium";
								font-size: 16px;
								line-height: 40px;
							}
							.map-cont-addr p {
								font-family: "Ubuntu-Light";
								font-size: 14px;
								line-height: 35px;
							}						
						.map-cont-shedule {
							font-family: "Ubuntu-Medium";
							font-size: 14px;
							line-height: 24px;
							display: inline-block;
						}
							.map-cont-shedule h5 {
								font-family: "Ubuntu-Medium";
								font-size: 16px;
								line-height: 40px;
							}
							.map-cont-shedule p {
								font-family: "Ubuntu-Medium";
								font-size: 14px;
								line-height: 13px;
								margin-bottom: 11px;
							}	
							.map-cont-shedule h6 {
								font-family: "Ubuntu-Light";
								font-size: 14px;
								line-height: 36px;
							}	


	.footer {
	}
		.footer-cont {
		}
			.footer-cont .b-wide-block {
				/* height: 498px; */
				border-top: 1px solid #e3e3e3;
				border-bottom: 1px solid #e3e3e3;
				text-align: left;
			}
				.footer-cont .b-block {
					/* height: 498px; */
				}
					.footer-columns {
						/* padding-top: 64px; */
					}
						.footer-columns h4 {
							font-family: "Ubuntu-Medium";
							font-size: 17px;
							line-height: 26px;
							text-transform: uppercase;
						}
						.footer-columns a {
							display: inline-block;
							font-family: "Ubuntu-Light";
							font-size: 14px;
							line-height: 36px;
						}						
						.footer-columns a:hover {
							text-decoration: underline;
						}
						.footer-columns p {
							font-family: "Ubuntu-Light";
							font-size: 14px;
							line-height: 36px;
						}
						.footer-logconts {
							width: 255px;
							margin-right: 70px; /*140px*/
						}
							.footer-logo {
							margin-bottom: 26px;
							}
							.footer-logo-img {
								background-position: 50% 50%;
								background-size: cover;				
								height: 61px;
								width: 255px;	
							}
								.footer-logo-img a {
									display: block;
								}
							.footer-contacts {
							}	
								.footer-contacts h4 {
									margin-bottom: 14px;
								}							
								.footer-contacts p {
									line-height: 29px;
								}					
								.footer-contacts li {
									margin-bottom: 11px;
								}
						.footer-pages {
							margin-right: 125px;
						}
							.footer-pages ul {
								margin-top: 18px;
							}
						.footer-services {
							margin-right: 54px;
						}
							.footer-services ul {
								margin-top: 18px;
							}
						.footer-shedule {
							}							
							.footer-shedule li {
									margin-bottom: 8px;
								}							
							.footer-shedule h4 {
								margin-bottom: 15px;
							}
							.footer-shedule h6 {
								font-family: "Ubuntu-Medium";
								font-size: 16px;
								line-height: 40px;
							}
			/*.footer-copyright {
				position: absolute;
				right: 0;
				bottom: 40px;
				background-position: 50% 50%;
				background-size: cover;
				height: 16px;
				width: 93px;
			}
				.footer-copyright a {
					display: block;
					height: 16px;
					width: 93px;					
				}*/
		.footer-sub {

		}
			.footer-sub p {
			font-family: "Ubuntu-Light";
			font-size: 25px;
			line-height: 40px;
			letter-spacing: 10px;
			}
/*Адаптировал под таблеты*/

/*Страница услуг*/
.main-content {

}
	.b-wide-block {

	}
		.b-block {

		}
			.p_services {
				text-align: left;
			}
					.main-content_top_h1 h1 {
						font-size: 20px;
						line-height: 55px;
					}
					.main-content_top_h1 h3 {
						font-size: 42px;
						line-height: 42px;
					}				
				.p_services_menu {
				width: 1000px;
				margin-left: -15px;
				line-height: 0px; /* bag margin */
				}
					.p_services_menu_item{
						margin-left: 15px;
						margin-right: 15px;
						margin-bottom: 25px;
						float: left;
						width: 300px;
					}		
						.p_services_menu_item a {
							font-size: 20px;
							line-height: 24px;
							padding: 25px 34px 32px 40px;
							box-sizing: border-box;
							height: 200px;
							width: 300px;
							cursor: pointer;
							vertical-align: bottom;
						}
						.p_services_menu_item a:hover span {
						}
						.p_services_menu .active a{
						}		
						.p_services_menu .active a:before{
						}	
						.p_services_menu .active a:hover span{
						}		
						.p_services_menu .active a:hover:before{
						}																
						.p_services_menu_item a:hover:before {
						}						
						.p_services_menu_item a:before {
							font-size: 66px;
							margin-bottom: 24px;
						}
				.p_services_menu_info_container {
				}
				.p_services_menu .p_services_menu_info_container {
				}
				.p_services_menu_info {
					text-align: left;
					width: 1560px;
					min-height: 0px;
					height: 0px;
					margin-left: -280px;
					top: -25px;
				}
				.serv_info_show {
					min-height: 590px;
					height: initial;
					margin-bottom: 0px;
				}
				.p_services_menu .slick-dots {
				}
				.p_services_menu .p_services_menu_info_slider {
				}				
				.p_services_menu_info_slider {
				}
				.p_services_menu_info_slider_items {
				}
				.services_slide_close_btn {
					top: 22px;
					right: 12px;
					width: 29px;
					height: 29px;
				}
				.services_slide_close_btn:after {
					font-size: 20px;
					line-height: 29px;
				}				
				.p_services_menu_info_triangle {
					height: 31px;
					width: 100%;
					/* margin-bottom: 66px; */
				}
				.p_services_menu_info_triangle_im {
					margin-left: -933px;
					height: 31px;
					width: 2500px;
				}
				.item_0 {
					margin-left: -820px;
					margin-top: 0px;
				}
				.item_1 {
					margin-left: -490px;
					margin-top: 0px;
				}
				.item_2 {
					margin-left: -155px;
					margin-top: 0px;
				}
				.item_3 {
					margin-left: -40px;
					margin-top: 0px;
				}												
					.p_services_menu_info_img {
						height: 600px;
						width: 600px;
						right: 0;
					}
					.p_services_menu_info_text {
						width: 378px;
						padding-top: 65px;
					}
					.p_services_menu_info_text h3{
						font-size: 40px;
						line-height: 55px;
						margin-bottom: 25px;
					}
					.p_services_menu_info_text p{
						margin-bottom: 38px;
						line-height: 24px;
					}
					.p_services_menu_info_urls {
						width: 500px;
						margin-bottom: 30px;
					}					
					.p_services_menu_info_urls a{
						font-size: 14px;
						line-height: 19px;
						width: 140px;
						height: 38px;
						margin-bottom: 22px;
						margin-right: 30px;
					}
					.p_services_menu_info_urls a:hover {
					}
					.p_services_menu_info_urls li{
						float: left;
						
					}					
/*конец Страница услуг*/
/*doctors page*/
.b-wide-block {
}
	.b-block {
	}
		.p_doctors {
			text-align: left;	
		}
			.p_doctors_menu {
				width: 960px;
				margin-left: 0;
			}
				.p_doctors_menu_item {
					height: auto;
					width: 300px;
					margin-right: 30px;
					margin-bottom: 6px;
				}
					.p_doctors_menu_vcard {
						padding: 24px 30px 26px 30px;
						top: 206px;
					}								
						.p_doctors_menu_vcard h5{
							font-size: 22px;
							line-height: 26px;
						}
						.p_doctors_menu_vcard h6{
							font-size: 16px;
							line-height: 24px;
							margin-bottom: 20px;						
						}											
						.p_doctors_menu_vcard p{
							font-size: 16px;
						}																															
	.footer .p_doctors_slider {
	}
	.p_doctors_slider {
		text-align: left;

	}
	.p_doctors_slider_cont {
		min-height: 0px;
		height: 0px;
		width: 1560px;
		margin-top: -6px;
		margin-left: -300px;
	}	
		.p_doctors_slide {
			margin-bottom: 30px;
			width: 1560px;
			/*left: -185px;*/
		}
	.doct_info_show {
		min-height: 600px;
		height: initial;
		margin-bottom: 30px;
	}					
			.p_doctors_menu_info_triangle {
				height: 31px;
				width: 100%;
			}
				.p_doctors_menu_info_triangle_im {
					left: -579px;
					height: 31px;
					width: 2510px;
				}
				.p_doctors_menu .item_0 {
					margin-left: -235px;
				}
				.p_doctors_menu .item_1 {
					margin-left: 90px;
				}
				.p_doctors_menu .item_2 {
					margin-left: 420px;
				}				
			.p_doctors_slide_top {
			}

				.p_doctors_slide_img {
					width: 100%;
					height: 596px;
					margin-left: 86px;
				}
				.p_doctors_slide_top .b-block {
				/*width: 960px;*/
				height: 596px;
				/* padding-top: 100px; */
				}
					.p_doctors_slide_text {
						padding-top: 111px;
						width: 560px;
					}
						.p_doctors_slide_text h4 {
							line-height: 24px;
							font-size: 36px;
							margin-bottom: 24px;
						}
						.p_doctors_slide_text h5 {
							font-size: 20px;
							line-height: 20px;
							text-transform: uppercase;
							margin-bottom: 31px;
						}
						.p_doctors_slide_text p {
							margin-bottom: 50px;
							font-size: 16px;
							width: 560px;
						}
						.p_doctors_slide_text a {
							font-size: 12px;
						}
						.p_doctors_slide_btn {
							padding-right: 25px;
						}
					.p_doctors_slide_close_btn {
						top: 54px;
						right: 12px;
						height: 29px;
						width: 29px;
					}
					.p_doctors_slide_close_btn:after {
						font-size: 20px;
						line-height: 30px;
					}					
			.p_doctors_slide_bott {
				padding: 54px 0 34px;
			}
				.p_doctors_slide_bott h6 {
					font-size: 18px;
					margin-bottom: 22px;
				}
				.p_doctors_slide_bott ul {
					margin-bottom: 20px;
				} 
					.p_doctors_slide_bott li {
						list-style-type: disc;
						font-size: 16px;
						line-height: 30px;
					}
				.p_doctors_menu .slick-dots {
				}							
/*doctors page*/
/*practice page*/
		.p_practice {
			padding-bottom: 50px;
		}
			.p_practice_menu {
				/* width: 1188px; */
			}
				.p_practice_menu_item {
					height: 256px;
					width: 300px;
					margin-right: 30px;
					background-repeat: no-repeat;
					background-size: 100%;
					margin-bottom: 6px;
				}
				.p_practice_menu_item:nth-child(4n-1) {
					margin-right: 0px;
				}		
					.p_practice_menu_vcard {
						width: 100%;
						padding: 24px 30px 26px 30px;
						bottom: 0;
						box-sizing: border-box;
					}									
						.p_practice_menu_vcard h5{
							line-height: 26px;
						}																																					
	.footer .p_practice_slider {
	}
	.p_practice_slider {
	}
	.p_practice_slider_cont {
		min-height: 0px;
		height: 0px;
		width: 1560px;
		margin-top: -6px;
		margin-left: -300px;
		margin-bottom: 30px;
	}	
		.p_practice_slide {
			width: 1560px;
		}
	.pract_info_show {
		min-height: 600px;
		height: initial;
	}					
			.p_practice_menu_info_triangle {
				height: 31px;
				width: 100%;
			}
				.p_practice_menu_info_triangle_im {
					left: -579px;
					height: 31px;
					z-index: 10;
					width: 2510px;
					background-image: url('../i/services-info-triangle.png');
					background-size: auto;
					background-repeat: no-repeat;
				}
				.p_practice_menu .item_0 {
					margin-left: -235px;
				}
				.p_practice_menu .item_1 {
					margin-left: 90px;
				}
				.p_practice_menu .item_2 {
					margin-left: 420px;
				}					
			.p_practice_slide .b-block{
				padding: 79px 0 34px;
			}
			.p_practice_slide .map-cont-close {
			top: 65px;
			right: 20px;
			}
				.p_practice_slide_img {
					width: 465px;
				}
				.p_practice_slide_details {
					width: 560px;
				}
				.p_practice_slide_executor {width: 368px;}							
/*practice page*/
/*about page begin*/
	.p_about {
	}
	.p_about p{
	}
		.b-wide-block {

		}
			.p_about_b_about {

			}
				.b-block {

				}
					.p_about_b_about_text {
						width: 390px;
						padding: 12px 0 72px 0;
					}				
						.p_about .main-content_top_h1 {
							margin-bottom: 45px;
						}
							.p_about_b_about_text p{
								margin-bottom: 31px;
							}

							.p_about .p_about_btn {
								border: 1px solid #e3e3e3;
								padding-right: 30px;
							}
					.p_about_b_about_stats {
						/* height: 100px; */
						width: 550px;
						padding: 65px 0px;
					}
						.p_about_b_about_stats_menu {
							border-bottom: 3px solid #e3e3e3;
							margin-bottom: 21px;
						}
							.p_about_b_about_stats_menu ul {
								line-height: 0;
								zoom:1;
							}
					        .p_about_b_about_stats_menu ul:after {
								width: 100%;
								height: 0px;
								content: '';
					        }	
								.p_about_b_about_stats_menu .active {
									height: 28px;
									border-bottom: 3px solid #74bc40;									
								}					        				
								.p_about_b_about_stats_menu_item {
									cursor: pointer;
									height: 28px;
									border-bottom: 3px solid transparent;
									line-height: normal;
									zoom : 1;*/
								}
								.p_about_b_about_stats_menu_item:hover {
									height: 28px;
									border-bottom: 3px solid #74bc40;
								}	
									.p_about_b_about_stats_menu_item span {
										line-height: 20px;
										font-size: 11px;
									}							
						.p_about_b_about_stats_graphic {
								
						}
							.p_about_b_about_stats_graphic_progressbar {
								width: 0px;
								height: 71px;
							}
							.p_about_b_about_stats_graphic_progressbar .start {
							}
							.p_about_b_about_stats_graphic_progressbar .start {
								line-height: 74px;
								margin-left: 20px;
							}
							.p_about_b_about_stats_graphic_progressbar .end {
								right: 20px;
							}
							.p_about_b_about_stats_graphic_progressbar .end {
								line-height: 73px;
								/* right: 20px; */
							}
	.p_about_b_advantages {
	}
		.p_about_b_advantages h4 {
			margin-bottom: 23px;
		}
			.p_about_b_advantages .b-block {
				padding: 30px 0 30px;
			}
				.p_about_b_advantages_header {
				}
				.p_about_b_advantages_pluses {
					width: 100%;
				}
					.p_about_b_advantages_pluses_item {
						width: 300px;
						margin-right: 30px;
						padding: 13px 0 27px 0;
						float: left;
						}
						.p_about_b_advantages_pluses_item_img {
							height: 120px;
							width: 120px;
							margin-bottom: 22px;
						}
	.p_about_b_clinics {
		padding: 30px 0 54px;
	}
		.b-block {

		}
			.p_about_b_clinics_header {

			}
				.p_about_b_clinics_header h3 {
					margin-bottom: 48px;
				}
			.p_about_b_clinics_galary {
				width: 1190px;
				margin-left: -12px;
			}
				.p_about_b_clinics_galary_windows {
					height: 300px;
					width: 300px;
					margin: 0 12px;
				}
					.p_about_b_clinics_galary_windows a{
						height: 326px;
						width: 326px;
						margin: -12px -12px;
					}
					.p_about_b_clinics_galary_windows a:hover{
					}	
					.p_about_b_clinics_galary_windows a:after {
						content: "\e913";
						bottom: 60px;
						right: 40px;
						opacity: 0;
					}
					.p_about_b_clinics_galary_windows a:hover:after {
						opacity: 1;
					}					
/*about page end*/
/*reviews page*/
.p_reviews {
	padding-bottom: 50px;
}
	.p_reviews-single {
		width: 465px;
		padding: 45px;
		margin: 0 30px 30px 0;
	}
	.p_reviews-single:nth-child(2n) {
		margin: 0 0px 30px 0;
	}	
		.p_reviews-single-head {
			width: 100%;
			margin-bottom: 30px;
		}
			.p_reviews-single-phot {
				height: 110px;
				width: 110px;
				border-radius: 55px;
			}
			.p_reviews-single-name {
				margin: 27px 0 0 27px;
			}
				.p_reviews-single-name h5{
				}
				.p_reviews-single-name p{
				}
			.p_reviews-single-head .b-btn {
				border: 1px solid #e3e3e3;
			}
			.p_reviews-btn {
				width: 175px;
				margin-top: 27px;
			}
	.p_reviews-single-text {
	}
		.p_reviews-single-text p {
			max-height: 145px;
		}
/*reviews page*/
.b-1{
	
}
.b-popup .left {
	width: 585px;
}
.b-popup .right {
	width: 375px;
}
#tel-2 {
	width: 233px;
}
.name {
	margin-right: 20px;
}
.left textarea {
	width: 555px;
}
.right label,
.right input {
	margin-left: 0px;
}
div.cs-skin-slide {
	width: 375px;
}
div.cs-skin-slide::before {
	width: 375px;
}
div.cs-select {
	margin-left: 0px;
}
.right input {
	width: 375px;
}
.time-section {
	width: 210px;
}
.right .time {
	width: 165px;
}
.time::before {
	width: 165px !important;
}
.b-popup button {
	width: 165px;
	margin-top: 42px;
}
.ui-datepicker {
	width: 368px !important;
}
#b-popup-3 .left {
	width: 620px;
}
.div-cal {
	left: 0px;
	width: 375px;
	top: 44px;
}
.date-div {
	width: 100%;
	top: 44px;
	left: 0px;
}
.cs-select > span {
	padding: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
	.b-icon:before{
	}
}	
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}